<form
  action="/api/auth/logout"
  method="GET"
  style="position: absolute; top: 20px; right: 20px"
>
  <button type="submit" class="btn btn-pink border-dark shadow-sm rounded-3">
    Logout
  </button>
</form>
