<form action="/api/auth/logout" method="GET" style="top: 20px; right: 20px">
  <button
    type="submit"
    class="btn btn-pink border-dark shadow-sm rounded-3 mt-3 ml-5"
  >
    Logout
  </button>
</form>
